/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --accent-color: #ff0070;
  --heading-color: #db00ff;
  --dark-color: #000028;
  --light-color: #f1b2ce;

  --border: 1px solid var(--accent-color);
  --background-color: var(--dark-color);
  --background-image: url(../images/cover-image-dark.png);
  --decorated-zone-color: var(--accent-color);
  --rec-decoration-visibility: visible;
  --header__menu-color: var(--accent-color);
  --header__menu-color-hover: #ff007066;
  --section-heading-color: var(--accent-color);
  --section__content-text-color: var(--light-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #ff0070;
    --heading-color: #db00ff;
    --dark-color: #000028;
    --light-color: #f1b2ce;

    --border: 1px solid var(--accent-color);
    --background-color: var(--dark-color);
    --background-image: url(../images/cover-image-dark.png);
    --decorated-zone-color: var(--accent-color);
    --rec-decoration-visibility: visible;
    --header__menu-color: var(--accent-color);
    --header__menu-color-hover: #ff007066;
    --section-heading-color: var(--accent-color);
    --section__content-text-color: var(--light-color);
  }
}
