/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #ff8dcb;
  --heading-color: #ffc2e6;
  --dark-color: #353430;
  --light-color: #fff1f7;

  --border: 1px solid var(--dark-color);
  --background-color: var(--light-color);
  --background-image: url(../images/cover-image-light.png);
  --decorated-zone-color: var(--dark-color);
  --rec-decoration-visibility: hidden;
  --header__menu-color: var(--dark-color);
  --header__menu-color-hover: #32312d66;
  --section-heading-color: var(--dark-color);
  --section__content-text-color: var(--dark-color);

  --heading__text-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (width >= 768px) {
  :root {
    --heading__text-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
